<div>
  <select class="select" (change)="onChange()" [(ngModel)]="selectValue">
    <option>todos</option>
    <option>completadas</option>
    <option>incompletas</option>
  </select>
</div>
<div
  class="task"
  *ngFor="let task of tasks"
  [class.completed]="task.done === true"
>
  <input type="text" value="{{ task.description }}" class="task__input" />
  <button
    class="form__button"
    class="task__done-button"
    (click)="completed(task.id)"
  >
    <fa-icon [icon]="faCheck"></fa-icon>
  </button>
  <button
    class="form__button"
    class="task__delete-button"
    value="{{ task.id }}"
    (click)="delete(task.id)"
  >
    <fa-icon [icon]="faTrash"></fa-icon>
  </button>
</div>
